In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv(r'illinois_doc_dataset\csv\person.csv', sep=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61110 entries, 0 to 61109
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              61110 non-null  object
 1   name                            61110 non-null  object
 2   date_of_birth                   61096 non-null  object
 3   weight                          60716 non-null  float64
 4   hair                            61109 non-null  object
 5   sex                             61109 non-null  object
 6   height                          60728 non-null  float64
 7   race                            61106 non-null  object
 8   eyes                            61109 non-null  object
 9   admission_date                  61109 non-null  object
 10  projected_parole_date           33932 non-null  object
 11  last_paroled_date               8474 non-null   object
 12  projected_discharge_date        61095 non-null  object
 13  parole_date                     25549 non-null  object
 14  electronic_detention_date       4 non-null      object
 15  discharge_date                  0 non-null      float64
 16  parent_institution              61109 non-null  object
 17  offender_status                 61109 non-null  object
 18  location                        60759 non-null  object
 19  sex_offender_registry_required  7422 non-null   object
 20  alias                           158 non-null    object
 21  Unnamed: 21                     0 non-null      float64
dtypes: float64(4), object(18)
memory usage: 10.3+ MB

In [4]:
custom_df = df[['id', 'sex', 'weight', 'height']]
custom_df.eval('weight = weight * 0.453592', inplace=True)
custom_df.eval('height = height * 0.0254', inplace=True)
custom_df.head()

       id   sex      weight  height
0  A00147  Male   83.914520  1.7018
1  A00220  Male   70.306760  1.8542
2  A00360  Male   75.749864  1.7526
3  A00367  Male  111.130040  1.8288
4  A01054  Male   75.296272  1.7018

In [5]:
custom_df.eval('bmi = weight / height ** 2', inplace=True)
custom_df = custom_df.round(2)
custom_df.head()

       id   sex  weight  height    bmi
0  A00147  Male   83.91    1.70  28.97
1  A00220  Male   70.31    1.85  20.45
2  A00360  Male   75.75    1.75  24.66
3  A00367  Male  111.13    1.83  33.23
4  A01054  Male   75.30    1.70  26.00

In [6]:
custom_df.to_csv('custom_dataset.csv', sep=',', index=False)